.container {
  min-height: 98vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(13, 247, 13);
}

.navigation {
  min-width: 360px;
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
}

#retry {
  min-width: 360px;
  min-height: 50px;
}

#up,
#down {
  flex: 100% 0 0;
  min-height: 75px;
}
#left,
#right {
  flex: 47% 0 0;
  min-height: 75px;
}
